.title {
    color: #1D4ED8;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700; 
    letter-spacing: 0.025em; 
    line-height: 2.5rem; 
}

.small-title {
    color: #1D4ED8;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 700; 
    letter-spacing: 0.025em; 
    line-height: 2.5rem; 
}