.parallax {
    background-image: url("../res/main-bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    color: #1D4ED8;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700; 
    letter-spacing: 0.025em; 
    line-height: 2.5rem; 
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .section-title {
        font-size: 1.5rem;
        line-height: 2rem; 
    }

    .info-section {
        display: flex;
        flex-direction: column;
    }
}
